*.tf          text      eol=lf
*.md          text      eol=lf diff=markdown
*.template    text      eol=lf
config        text      eol=lf
*.yaml        text      eol=lf
*.sh          text      eol=lf
*             text=auto eol=lf