  # Application configuration
  use_connection_url_env:
    type: boolean
    title: Set connection URL environment variable
    default: true
    description: Assuming that your application can consume an environment variable to configure the URL, this field can be used to specify the name of the environment variable.
  connection_url_env:
    type: string
    title: Connection URL environment variable name
    description: Specify the name of the environment variable. Its value will be set automatically by the stack.
    required: true
    default: "SPRING_DATASOURCE_URL"
    visible: use_connection_url_env
  use_username_env:
    type: boolean
    title: Set username environment variable
    description: Assuming that your application can consume an environment variable to configure the database username, this field can be used to specify the name of the environment variable.
    default: false
    visible: 
      eq: 
        - application_source
        - "IMAGE"
  username_env:
    type: string
    title: Database user environment variable name
    description: Only the name of the environment variable is needed. The value will be automatically set. If a new database is created, the database ADMIN user will be used.
    required: true
    default: "SPRING_DATASOURCE_USERNAME"
    visible: use_username_env
  use_password_env:
    type: boolean
    title: Set password environment variable
    description: Assuming that your application can consume an environment variable to configure the database user's password, this field can be used to specify the name of the environment variable.
    default: false
    visible: 
      eq: 
        - application_source
        - "IMAGE"
  password_env:
    type: string
    title: Database user's password environment variable name
    description: Specify the name of the environment variable. Its value will be set automatically by the stack. If a new database is created, the database ADMIN user will be used.
    required: true
    default: "SPRING_DATASOURCE_PASSWORD"
    visible: use_password_env
  use_tns_admin_env:
    type: boolean
    title: Set TNS_ADMIN environment variable
    description: Assuming that your application can consume an environment variable to configure TNS_ADMIN, this field can be used to specify the name of the environment variable.
    default: true
    visible: 
      eq: 
        - application_source
        - "IMAGE"
  tns_admin_env:
    type: string
    title: TNS_ADMIN environment variable name
    description: Specify the name of the environment variable (Ex. TNS_ADMIN).
    required: true
    default: "TNS_ADMIN"
    visible: 
      and: 
        - use_tns_admin_env
        - eq: 
          - application_source
          - "IMAGE"
  # SSL properties
  use_default_ssl_configuration:
    type: boolean
    title: Use default SSL properties for Spring 
    description: The stack creates a self-signed certificate that will be used for the communication between the load balancer and the backends. This self-signed certificate is stored in a JKS keystore. The following properties can be used to configure the web server to use this JKS keystore. By default Spring boot properties will be used by the stack. Click on this checkbox to specify your own property names.
    default: true
    visible:
      and:
        - eq:
          - application_type
          - "JAR"
        - not: 
          - eq:
            - application_source
            - "IMAGE"
  port_property:
    type: string
    title: Server port number property name
    default: "server.port"
    required: true
    description:  Assuming that your application can consume a property to configure the server port, this field can be used to specify the name of the property.
    visible: 
      not:
        - use_default_ssl_configuration
  keystore_property:
    type: string
    title: SSL keystore filename property name
    default: "server.ssl.key-store"
    required: true
    description:  Assuming that your application can consume a property to configure the SSL keystore filename, this field can be used to specify the name of the property.
    visible: 
      not: 
        - use_default_ssl_configuration
  key_alias_property:
    type: string
    title: SSL key alias property name
    default: "server.ssl.key-alias"
    required: true
    description:  Assuming that your application can consume a property to configure the SSL key alias property name, this field can be used to specify the name of the property.
    visible: 
      not:
        - use_default_ssl_configuration
  keystore_password_property:
    type: string
    title: SSL keystore password property name
    default: "server.ssl.key-store-password"
    required: true
    description:  Assuming that your application can consume a property to configure the SSL keystore password property name, this field can be used to specify the name of the property.
    visible: 
      not:
        - use_default_ssl_configuration
  keystore_type_property:
    type: string
    title: SSL keystore type property name
    default: "server.ssl.key-store-type"
    required: true
    description:  Assuming that your application can consume a property to configure the SSL keystore type property name, this field can be used to specify the name of the property.
    visible: 
      not: 
        - use_default_ssl_configuration
  cert_pem:
    type: text
    multiline: true
    title: SSL certificate
    required: true
    visible:
      eq:
        - application_source
        - "IMAGE"
  private_key_pem:
    type: text
    multiline: true
    title: Private key
    required: true
    visible:
      eq:
        - application_source
        - "IMAGE"
  ca_pem:
    type: text
    multiline: true
    title: CA certificate
    required: true
    visible:
      eq:
        - application_source
        - "IMAGE"
  # Other configuration
  other_environment_variables:
    type: string
    title: Other environment variables
    description: If your application can be configured through environment variables you can configure them here. Separate variables with semicolon (var1=value1;var2=value2).
  vm_options:
    type: string
    title: JVM options
    description: 'For example : -Xms=2G -Dspring.sql.init.data-locations=/temp/script.sql'
    visible:
      not:
        - eq:
          - application_source
          - "IMAGE"
  program_arguments:
    type: string
    title: Program arguments
    description: These space-separated program arguments are passed to the java process at startup.
    visible:
      and :
        - eq:
          - application_type
          - "JAR"
        - not:
          - eq:
            - application_source
            - "IMAGE"
