name: 'Build app stack'
on:
  workflow_call:
    inputs:
      branch: 
        description: Branch name
        required: true
        default: 'main'
        type: string
      type: 
        description: Stack type
        required: true
        default: 'java'
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: create-artifact
        run: |
          mv ${{ github.event.inputs.type }}/* .
          sed -i -e "/###HEADER###/r interface-header.yaml" -e "//d" interface.yaml
          rm interface-header.yaml
          sed -i -e "/###APPLICATION_GROUP###/r interface-application-group.yaml" -e "//d" interface.yaml
          rm interface-application-group.yaml
          sed -i -e "/###APP_CONFIG_GROUP###/r interface-app-config-group.yaml" -e "//d" interface.yaml
          rm interface-app-config-group.yaml
          sed -i -e "/###APPLICATION###/r interface-application.yaml" -e "//d" interface.yaml
          rm interface-application.yaml
          sed -i -e "/###APP_CONFIG###/r interface-app-config.yaml" -e "//d" interface.yaml
          rm interface-app-config.yaml
          zip -r ./appstackfor${{ github.event.inputs.type }}.zip . -x "*.git*" -x "java/*" -x "images/*" -x "listing/*" -x ".github/*" -x "*.md" -x "troubleshooting/*" -x "tutorials/*" -x "screenshots/*" -x "*.md"
          ls -lai
      - name: upload-artifact
        uses: actions/upload-artifact@v3
        with:
          name: appstackfor${{ github.event.inputs.type }}
          path: ./appstackfor${{ github.event.inputs.type }}.zip
